<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyService" />
        <binding name="BasicHttpBinding_IThaotacCSDL" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57459/MyService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMyService" contract="ServiceReference1.IMyService"
        name="BasicHttpBinding_IMyService" />
      <endpoint address="http://localhost:57839/ThaotacCSDL.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IThaotacCSDL" contract="ServiceReference2.IThaotacCSDL"
        name="BasicHttpBinding_IThaotacCSDL" />
    </client>
  </system.serviceModel>
</configuration>